.nav-item{
  color:black;
  padding:10px;
}
.nav-item:visited{
  color:black;
}

.MainNavBar {
    text-align: right;
}

.Nav-header {

}

.Nav-line {
  margin-top: 20px;
  background-color: #662A82;
  padding-top: 10px;

}
