.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.product-img {
  width: 200px;
  min-width: 200px;
  border: 1px solid black;
}

.product-info {
  text-align: left;
  background-color: white;
  padding: 12px;
}

.home-window {
  width: 100%;
  display: inline-flex;
}

.home-filters-upload {
  width: 200px;
  padding-left: 10px;
}

.home-searchresults {
  width: 75%;
}

.home-title-sort {
  width: 100%;
  padding-bottom: 0px;
}

.home-products {
  text-align: center;
}

.create-button {
  background-color: #F3CB0A;
  border: none;
  border-radius: 5px;
  color: #662A82;
  /* padding: 10px 10px; */
  /* margin-left: 10px; */
  text-align: center;
  display: inline-block;
  /* font-size: 20px; */
  width: 120px;
  height: 45px;
}
