.searchbar {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.input-field {
  padding: 5px 20px;
  font-size: 20px;
  display: inline;
  border-radius: 5px;
}

.icon {
  width: 22px;
  height: 20px;
}

.search-button {
  background-color: #F3CB0A;
  border: none;
  border-radius: 5px;
  color: #662A82;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
}
