.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 35px;
}

.App-link {
  color: #61dafb;
}

.nav-item{
  color:white;
  padding:10px;
}
.nav-item:visited{
  color:white;
}
