.App {

}
.App-header {
  padding: 1px;
  text-align: center;
  background: #662A82;
  color: white;
  font-size: 15px;
}
/*


.App-link {
  color: #61dafb;
}

.nav-item{
  color:white;
  padding:10px;
}
.nav-item:visited{
  color:white;
}
*/
