.Cart-Window {
  display: inline-flex;
  width: 100%;
  resize:none;
}

.Cart-Left-Side {
  width: 150px;
  margin-left: 20px;
  resize: both;
}

.Cart-Right-Side {
  width: 200%;
  height: 80px;
  resize: both;

}

.Button {
  background-color: #F3CB0A;
  border: 1px solid purple;
  border-radius: 5px;
  color: #662A82;
  padding: 11px 32px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: table-column-group;
  font-size: 15px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  resize: none;
  position:absolute;

}

.Title {
  font-size: 21px;
  resize: both;

}
.Shopping-Cart-Window {
  display: inline-flex;
  width: 100%;
  resize: both;


}


.Product-Window {
  margin-left: 40px;
  float: left;
  background-color: #f7f3f3;
  width: 40%;
  height: 40%;
  display: inline-flex;
  float: left;
  position: relative;
  resize: none;



}


.Total-Box {
  margin-top: 14px;
  margin-left: 900px;
  margin-right: 20px;
  background-color: white;
  width: 15%;
  height : 200px;
  float: left;
  display: inline-flex;
  position: fixed;
  resize: both;
  border: 1px solid black;



}


.Cart-Product {
  padding: 10px;
  margin: 10px;
  height: 40%;
  min-width: 600px;
  max-width: 700px;
 background-color: white;
  display: inline-flex;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position:fixed;
  resize:none;
  box-sizing:border-box;


}

.Profile-picture {

  width: 200px;
  height: 200px;
  display: inline-block;
  resize: both;
}

.Cart-Product-Info {
  text-align: left;
  display:table-column-group;
  font-size: 20px;
  padding-left: 50px;
  width: 10%;
  margin-left: 200px;
  resize: none;
  position: fixed;
  grid-column: spam 1;


}

.Total-Cart-Info-Right {
  width : 50%;
  text-align: center;
  resize: both;
}

.Total-Cart-Info-Left {
  text-align: center;
  width : 50%;
  resize: both;
}

.Cart-Buttons{
  display: inline-block;
  text-align: right;
  width : 25%;
  padding-left: 350px;
  resize: both;
  position: fixed;
}
