.mainwindow {
    display: inline-flex;
    width: 100%;
}

.leftwindow {
  text-align: center;
  width: 50%;
}

.rightwindow {
  width: 50%;
}

.rightbox {
  text-align: left;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 80%;
}

.productpic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
